<footer>
    <p>
     Created by <a class="auserfooter" href="https://profile.intra.42.fr/users/helamri" target="_blank">helamri</a> & <a class="auserfooter" href="https://profile.intra.42.fr/users/kkoulal" target="_blank">kkoulal</a> 2019 &copy;
   </p>
 </footer>