<style>
    .hit-the-floor {
      color: #fff;
      font-size: 12em;
      font-weight: bold;
      font-family: Helvetica;
      text-shadow: 
        0 1px 0 #ccc, 
        0 6px 1px rgba(0,0,0,.1)
    }
    
    .hit-the-floor {
      text-align: center;
    }
    
    body {
      background-color: #f1f1f1;
    }
    </style>
    <div class="hit-the-floor">404</div>
    