<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/app.css">
</head>

<body style="background-image: url('img/particle.png');background-repeat: no-repeat fixed 100%;background-size: cover;">
	 <nav class="navbar navbar-expand-lg navbar-light navclass">
	
      <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/history'">Your history</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/hatelist'">Your hates</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/chatlist'">Your loves</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/main'">Main page</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/research'">Research</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/editprofile'">Edit Profile</button>
       <button class="buttonmain" style="font-size:0.5em" onclick="location.href = '/logout'">Log out</button>
</nav>
<div class="container">
 <h1>Somthing goes Wrong babe!</h1>
</div>
<% include footer.ejs %>
</body>
</html>